<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Home Escuelita</title>

        <link rel="stylesheet" href="../static/vendor/twitter-bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Bienvenidos a la Escuelita!!!</h1>
                    <p>Para ver el ejemplo de paises hacer click <a href="paises">ac&aacute;</a></p>
                </div>
            </div>
        </div>
    </body>
</html>