<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:href="@{/vendor/twitter-bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <title>Paises</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Paises</h1>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-6">
                    <h4>Todos</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="pais : ${paises}">
                                <tr>
                                    <td th:text="${pais.id}"></td>
                                    <td th:text="${pais.nombre}"></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <div id="mensajeNoEncontrado" class="alert alert-warning hide">
                        <strong>No encontrado!</strong> No existe un pais con el ID buscado.
                    </div>
                    <div class="input-group">
                        <input id="idPaisABuscar" type="text" class="form-control" placeholder="#ID pais a buscar"/>
                        <div class="input-group-btn">
                            <button id="botonBuscarPaisPorId" class="btn btn-info" type="button">Buscar</button>
                        </div>
                    </div>
                    <h4>Solo Pais con Id #<span id="idPaisEncontrado"></span></h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody id="bodyTablaPais"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Lib JS -->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/twitter-bootstrap/js/bootstrap.min.js}"></script>

        <!-- JS de la aplicacion -->
        <script th:src="@{/js/escuelita.js}"></script>
        <script th:src="@{/js/ui/ui.js}"></script>
        <script th:src="@{js/service/service.js}"></script>
        <script th:src="@{js/ui/pais/pais.js}"></script>
        <script th:src="@{/js/service/pais/pais.js}"></script>
    </body>
</html>

