<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:href="@{/vendor/twitter-bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <title>Provincias</title>
    </head>
    <body>
         <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    <h1>Provincias</h1>
                </div>
            </div>
             <hr/>
            <div class="row">
                <div class="col-md-6">
                    <h4>Todos</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                            </tr>
                            </thead>
                        <tbody>
                            <th:block th:each="provincia : ${provincias}">
                                <tr>
                                    <td th:text="${provincia.id}"></td>
                                    <td th:text="${provincia.nombre}"></td>
                                </tr>
                                 </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <div id="mensajeNoEncontrado" class="alert alert-warning hide">
                        <strong>No encontrada!</strong> No existe una provincia con el ID buscado.
                    </div>
                    <div class="input-group">
                        <input id="idProvinciaABuscar" type="text" class="form-control" placeholder="#ID provincia a buscar"/>
                        <div class="input-group-btn">
                            <button id="botonBuscarProvinciaPorId" class="btn btn-info" type="button">Buscar</button>
                        </div>
                    </div>
                    <h4>Solo Provincia con Id #<span id="idProvinciaEncontrada"></span></h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody id="bodyTablaProvincia"></tbody>
                    </table>
                  <!--  <div class="input-group">
                        <input id="idProvinciaAGuardar" type="text" class="form-control" placeholder="Provincia a insertar"/>
                        <div class="input-group-btn">
                            <button id="botonGuardarProvinciaPorId" class="btn btn-info" type="button">Insertar</button>
                        </div>
                    </div>
                    <h4>Provincia insertada<span id="idProvinciaInsertada"></span></h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody id="bodyTablaProvincia"></tbody>
                    </table>
                </div> -->
                
            </div>
        </div>
         <!-- Lib JS -->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/twitter-bootstrap/js/bootstrap.min.js}"></script>

        <!-- JS de la aplicacion -->
        <script th:src="@{/js/escuelita.js}"></script>
        <script th:src="@{/js/ui/ui.js}"></script>
        <script th:src="@{js/service/service.js}"></script>
        <script th:src="@{js/ui/provincia/provincia.js}"></script>
        <script th:src="@{/js/service/provincia/provincia.js}"></script>
             
             
    </body>
</html>
